@media (min-width: 1400px) {

    /* menu part Start */
    #menu {
        height: 75px;
    }

    .logo_left {
        position: absolute;
        top: 14px;
    }

    .logo_left h3 {
        font-size: 22px;
    }

    .logo_left a img {
        width: 60px;
        padding-left: 10px;
    }

    .logo_right p {
        font-size: 18px;
        margin-top: -2px;
    }

    /* menu part end */

    /* Banner part start */
    #banner {
        height: 550px;
    }

    .banner_text {
        width: 760px;
    }

    .banner_text h1 {
        font-size: 50px;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .banner_text p {
        padding-bottom: 60px;
        font-size: 20px;
    }

    .banner_text a {
        border-radius: 15px;
        padding: 10px 52px;
        font-weight: 700;
        font-size: 26px;
    }

    /* Banner part end */

    /* About part start */
    #about {
        padding: 60px 0 10px;
    }

    .about_col p {
        padding-bottom: 15px;
    }

    .gal_img {
        margin-bottom: 20px;
    }

    .gal_bot {
        padding-bottom: 40px;
    }

    /* About part end */

    /* Footer part start */
    .foot_col1 a:last-child {
        padding-left: 8px;
        padding-right: 10px;
    }

    .foot_col1 a {
        font-size: 20px;
    }

    .foot_col2 a,
    .foot_col3 a {
        line-height: 24px;
        width: 100%;
    }

    .foot_col4 p {
        line-height: 22px;
    }

    .foot_col4 p a {
        font-size: 13px;
    }

    .social_icon ul li a {
        margin: 0 4px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 18px;
    }

    .down_right {
        position: absolute;
        right: 16px;
    }

    .down p {
        font-size: 17px;
    }

    /* Footer part end */
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* menu part start */

    #menu {
        height: 75px;
    }

    .logo_left {
        position: absolute;
        top: 14px;
    }

    .logo_left h3 {
        font-size: 22px;
    }

    .logo_left a img {
        width: 60px;
        padding-left: 10px;
    }

    .logo_right p {
        font-size: 18px;
        margin-top: -2px;
    }

    /* menu part end */

    /* Banner part start */
    #banner {
        height: 550px;
    }

    .banner_text {
        width: 760px;
    }

    .banner_text h1 {
        font-size: 50px;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .banner_text p {
        padding-bottom: 60px;
        font-size: 20px;
    }

    .banner_text a {
        border-radius: 15px;
        padding: 10px 52px;
        font-weight: 700;
        font-size: 26px;
    }

    /* Banner part end */

    /* About part start */
    #about {
        padding: 60px 0 10px;
    }

    .about_col p {
        padding-bottom: 15px;
    }

    .gal_img {
        margin-bottom: 20px;
    }

    .gal_bot {
        padding-bottom: 40px;
    }

    /* About part end */

    /* Footer part start */
    .foot_col1 a:last-child {
        padding-left: 8px;
        padding-right: 10px;
    }

    .foot_col1 a {
        font-size: 20px;
    }

    .foot_col2 a,
    .foot_col3 a {
        line-height: 24px;
        width: 100%;
    }

    .foot_col4 p {
        line-height: 22px;
    }

    .foot_col4 p a {
        font-size: 13px;
    }

    .social_icon ul li a {
        margin: 0 4px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 18px;
    }

    .down_right {
        position: absolute;
        right: 16px;
    }

    .down p {
        font-size: 17px;
    }

    /* Footer part end */
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* menu part start */

    #menu {
        height: 75px;
    }

    .logo_left {
        position: absolute;
        left: 60px;
        top: 14px;
    }

    .logo_left h3 {
        font-size: 22px;
    }

    .logo_left a img {
        width: 60px;
        padding-left: 10px;
    }

    .logo_right p {
        font-size: 18px;
        padding-right: 60px;
        margin-top: -2px;
    }

    /* menu part end */

    /* Banner part start */
    #banner {
        height: 490px;
    }

    .banner_text {
        width: 660px;
    }

    .banner_text h1 {
        font-size: 46px;
        padding-top: 70px;
    }

    .banner_text p {
        padding-bottom: 50px;
        font-size: 20px;
    }

    .banner_text a {
        border-radius: 15px;
        padding: 10px 48px;
        font-weight: 700;
        font-size: 24px;
    }

    /* Banner part end */

    /* About part start */
    #about {
        padding: 60px 0 10px;
    }

    .about_col p {
        padding-bottom: 15px;
    }

    .gal_img {
        margin-bottom: 20px;
    }

    .gal_bot {
        padding-bottom: 40px;
    }

    /* About part end */

    /* Footer part start */
    .foot_col1 a:last-child {
        padding-left: 8px;
        padding-right: 10px;
    }

    .foot_col1 a {
        font-size: 20px;
    }

    .foot_col2 a,
    .foot_col3 a {
        line-height: 24px;
        width: 100%;
    }

    .foot_col4 p {
        line-height: 22px;
    }

    .foot_col4 p a {
        font-size: 13px;
    }

    .social_icon ul li a {
        margin: 0 4px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 18px;
    }

    .down_right {
        position: absolute;
        right: 16px;
    }

    .down p {
        font-size: 17px;
    }

    /* Footer part end */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* menu part start */

    #menu {
        height: 70px;
    }

    .logo_left h3 {
        font-size: 22px;
    }

    .logo_left a img {
        width: 50px;
        padding-left: 10px;
    }

    .logo_right p {
        font-size: 16px;
        padding-right: 10px;
        margin-top: -5px;
    }

    /* menu part end */



    /* Banner part start */
    #banner {
        height: 490px;
    }

    .banner_text {
        width: 660px;
    }

    .banner_text h1 {
        font-size: 46px;
        padding-top: 70px;
    }

    .banner_text p {
        padding-bottom: 50px;
        font-size: 20px;
    }

    .banner_text a {
        border-radius: 15px;
        padding: 10px 48px;
        font-weight: 700;
        font-size: 24px;
    }

    /* Banner part end */

    /* About part start */
    #about {
        padding: 60px 0 10px;
    }

    .about_col p {
        padding-bottom: 15px;
    }

    .gal_img {
        margin-bottom: 20px;
    }

    .gal_bot {
        padding-bottom: 40px;
    }

    /* About part end */

    /* Footer part start */
    .foot_col1 a img {
        width: 50px;
    }

    .foot_col1 a:last-child {
        padding-left: 8px;
    }

    .foot_col1 a {
        font-size: 18px;
    }

    .foot_col2,
    .foot_col2,
    .foot_col3,
    .foot_col4 {
        margin: 20px 10px;
    }

    .social_icon ul li a {
        margin: 0 2px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
    }

    .down p {
        font-size: 16px;
    }

    .down_right p {
        margin-right: 4px;
        font-size: 12px;
    }

    /* Footer part end */
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* menu part start */

    #menu {
        height: 60px;
    }

    .logo_left h3 {
        font-size: 16px;
    }

    .logo_left a img {
        width: 40px;
        padding-left: 10px;
    }

    .logo_right p {
        font-size: 12px;
        padding-right: 10px;
        margin-top: -5px;
    }

    /* menu part end */



    /* Banner part start */
    #banner {
        height: 460px;
    }

    .banner_text {
        width: 510px;
    }

    .banner_text h1 {
        font-size: 42px;
        padding-top: 60px;
    }

    .banner_text p {
        padding-bottom: 50px;
    }

    .banner_text a {
        border-radius: 15px;
        padding: 10px 48px;
        font-weight: 700;
        font-size: 24px;
    }

    /* Banner part end */

    /* About part start */
    #about {
        padding: 60px 0 10px;
    }

    .about_col p {
        padding-bottom: 15px;
    }

    .gal_img {
        margin-bottom: 20px;
    }

    .gal_bot {
        padding-bottom: 40px;
    }

    /* About part end */

    /* Footer part start */
    .foot_col1 a img {
        width: 40px;
    }

    .foot_col1 a:last-child {
        padding-left: 8px;
    }

    .foot_col1 a {
        font-size: 16px;
    }

    .foot_col2,
    .foot_col2,
    .foot_col3,
    .foot_col4 {
        margin: 20px 10px;
    }

    .social_icon ul li a {
        margin: 0 2px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
    }

    .down p {
        font-size: 16px;
    }

    .down_right p {
        margin-right: 4px;
        font-size: 12px;
    }

    /* Footer part end */
}

@media (max-width: 575.98px) {

    /* menu part start */

    #menu {
        height: 60px;
    }

    .logo_left h3 {
        font-size: 16px;
    }

    .logo_left a img {
        width: 40px;
        padding-left: 10px;
    }

    .logo_right p {
        font-size: 12px;
        padding-right: 10px;
        margin-top: -5px;
    }

    /* menu part end */



    /* Banner part start */
    #banner {
        height: 420px;
    }

    .banner_text {
        width: 280px;
    }

    .banner_text h1 {
        font-size: 34px;
        padding-top: 54px;
    }

    .banner_text a {
        border-radius: 10px;
        padding: 8px 28px;
        font-weight: 700;
        font-size: 22px;
    }

    /* Banner part end */

    /* About part start */
    #about {
        padding: 60px 0 10px;
    }

    .about_col p {
        padding-bottom: 15px;
    }

    .gal_img {
        margin-bottom: 20px;
    }

    .gal_bot {
        padding-bottom: 40px;
    }

    /* About part end */


    /* Footer part start */
    .foot_col1 a img {
        width: 30px;
    }

    .foot_col1 a:last-child {
        padding-left: 8px;
    }

    .foot_col1 a {
        font-size: 14px;
    }

    .foot_col2,
    .foot_col2,
    .foot_col3,
    .foot_col4 {
        margin: 20px 10px;
    }

    .social_icon ul li a {
        margin: 0 2px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
    }

    .down p {
        font-size: 14px;
    }

    .down_right p {
        margin-right: 4px;
        font-size: 12px;
    }

    .down_right {
        position: absolute;
        right: 10px;
    }

    .pay_text a img {
        width: 250px;
    }

    /* Footer part end */
}